<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Reda Lemeden</string>
	<key>Builder Version</key>
	<string>11601.1.56</string>
	<key>CFBundleDisplayName</key>
	<string>Nope</string>
	<key>CFBundleIdentifier</key>
	<string>co.kaishin.nope</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>0</integer>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>mainMenu</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Checked State</key>
						<integer>0</integer>
						<key>Identifier</key>
						<string>whiteListSite</string>
						<key>Title</key>
						<string>Yep for this site</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>menuButton</string>
				<key>Image</key>
				<string>assets/icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Nope</string>
				<key>Menu</key>
				<string>mainMenu</string>
				<key>Palette Label</key>
				<string>Nope</string>
				<key>Tool Tip</key>
				<string>Nope Options</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>Modern, performant, and responsible content blocking.</string>
	<key>DeveloperIdentifier</key>
	<string>5G38N4D8G2</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
