<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>whiteListedDomains</string>
		<key>Title</key>
		<string>Yep Domains</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>blackListedDomains</string>
		<key>Title</key>
		<string>Mega Nope Domains</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rules</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>blockAdvertising</string>
		<key>Title</key>
		<string>Block Advertising (1350 Rules)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>FalseValue</key>
		<string>false</string>
		<key>Key</key>
		<string>blockAnalytics</string>
		<key>Title</key>
		<string>Block Tracking (236 Rules)</string>
		<key>TrueValue</key>
		<string>true</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>blockSocial</string>
		<key>Title</key>
		<string>Block Social (64 Rules)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
