<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>whiteListedDomains</string>
		<key>Title</key>
		<string>Yep Domains</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>blackListedDomains</string>
		<key>Title</key>
		<string>Very Nope Domains</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rules</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1</string>
		<key>Key</key>
		<string>blockAdvertising</string>
		<key>Title</key>
		<string>Block Ad Networks ——–— (1348 Rules)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1</string>
		<key>FalseValue</key>
		<string>false</string>
		<key>Key</key>
		<string>blockAnalytics</string>
		<key>Title</key>
		<string>Block Analytics Scripts —— (235 Rules)</string>
		<key>TrueValue</key>
		<string>true</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1</string>
		<key>Key</key>
		<string>blockSocial</string>
		<key>Title</key>
		<string>Block Social Widgets —–—— (65 Rules)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
